@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
  --color-1: #fab000;
  --color-2: #fa3600;
  --color-3: #111111;
  --color-4: #969696;
  --color-5: #ffffff;
  --color-6: #262626;
}

/* Estilo general */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  background: var(--color-5);
  min-height: 100%;
}

/* Navbar */
nav {
  position: fixed;
  top: 0;
  left: 0;
  height: 70px;
  width: 100%;
  display: flex;
  align-items: center;
  background: var(--color-3);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

nav .logo {
  display: flex;
  align-items: center;
  margin: 0 24px;
}

.logo .menu-icon {
  color: var(--color-5);
  font-size: 24px;
  margin-right: 14px;
  cursor: pointer;
}

.logo .logo-name {
  margin-left: 8px;
  color: var(--color-5);
  font-size: 22px;
  font-weight: 700;
}

.saludo {
  display: flex;
  justify-content: flex-end;
  text-align: right;
  margin-left: auto;
  padding-right: 30px;
}

.saludo h5 {
  color: var(--color-5);
  font-weight: 500;
}

nav .sidebar {
  position: fixed;
  top: 0;
  left: -100%;
  height: 100%;
  width: 280px;
  padding: 20px 0;
  background-color: var(--color-3);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  transition: all 0.4s ease;
}

nav.open .sidebar {
  left: 0;
}

.sidebar .sidebar-content {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: space-between;
  padding: 30px 16px;
}

.sidebar-content .list {
  list-style: none;
}

.list .nav-link {
  display: flex;
  align-items: center;
  margin: 8px 0;
  padding: 14px 12px;
  border-radius: 8px;
  text-decoration: none;
}

.lists .nav-link:hover {
  background-color: var(--color-1);
}

.nav-link .icon {
  margin-right: 14px;
  font-size: 20px;
  color: #ffffff;
}

.nav-link .link {
  font-size: 16px;
  color: #ffffff;
  font-weight: 400;
}

.lists .nav-link:hover .icon,
.lists .nav-link:hover .link {
  color: var(--color-3);
}

.overlay {
  position: fixed;
  top: 0;
  left: -100%;
  height: 100vh;
  width: 100vw;
  opacity: 0;
  pointer-events: none;
  transition: all 0.4s ease;
  background: rgba(0, 0, 0, 0.3);
}

nav.open ~ .overlay {
  opacity: 1;
  left: 0;
  pointer-events: auto;
}

/* Contenido general */
.contenido-general {
  margin-top: 100px;
  padding: 20px;
}

h1, h2, h3 {
  color: var(--color-2);
}

.contenido_datos {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}

.total_membresias {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}

.card_datos {
  background-color: #F6F6F6;
  padding: 30px;
  border-radius: 15px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  height: 200px; /* Altura uniforme para todas las tarjetas */
  flex: 1;
  max-width: 300px; /* Ancho máximo para las tarjetas */
}

.card_datos h3 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.card_datos h4 {
  font-size: 1.2rem;
  color: var(--color-4);
}

.card_datos p {
  font-size: 1rem;
  font-weight: 700;
  color: var(--color-3);
}

.usuarios_datos {
  margin-top: 20px;
}

.agrupaciones {
  display: flex;
  justify-content: center;
}

.card_datos_grande {
  background-color: #F6F6F6;
  padding: 30px;
  border-radius: 15px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  width: 70%; /* Definir el ancho de la tarjeta grande */
  text-align: center;
}

.datos_usuarios {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

.datos_usuarios .datos_1 {
  flex: 1;
  margin: 0 10px;
}

.datos_1 h4 {
  font-size: 1.2rem;
  color: var(--color-4);
}

.datos_1 p {
  font-size: 1rem;
  font-weight: 700;
  color: var(--color-3);
}

.inscristos_usuarios {
  margin-top: 30px;
}

.card_datos_inscripciones {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}

.card_datos_inscripciones .card_datos {
  height: auto; /* Ajuste de altura automática para las tarjetas en esta sección */
  flex: 1;
  max-width: 300px; /* Ancho máximo para las tarjetas */
}
